# Rust
/target/
**/*.rs.bk
Cargo.lock

# Coq
*.vo
*.vok
*.vos
*.glob
*.aux
.coqdeps.d
*.v.d
.*.aux
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.ml.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.cmt
*.cmti
*.annot

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride
